django==1.4
psycopg2==2.4.2

git+git://github.com/sehmaschine/django-grappelli.git@grappelli_2_4
git+git://github.com/sehmaschine/django-filebrowser.git@filebrowser_3_5
PIL==1.1.7

django_compressor
South
requests
