{% load i18n %}

{% blocktrans with "test" as account %}org.backmeup.twitter - {{ account }}{% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.dropbox - {{ account }}{% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.facebook - {{ account }}{% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.moodle - {{ account }}{% endblocktrans %}

{% blocktrans with "test" as account %}org.backmeup.twitter ({{ account }}){% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.dropbox ({{ account }}){% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.facebook ({{ account }}){% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.moodle ({{ account }}){% endblocktrans %}

{% blocktrans with "test" as account %}user's email {{ account }} is verified{% endblocktrans %}
{% trans "org.backmeup.twitter - Profil" %}
{% trans "org.backmeup.dropbox - Profil" %}
{% trans "org.backmeup.facebook - Profil" %}
{% trans "org.backmeup.moodle - Profil" %}
{% trans "org.backmeup.zip - Profil" %}

{% trans "User has not been activated!" %}
{% trans "Some error occurred." %}
{% trans "There must be at least one source profile to download data from!" %}

{% trans "queued" %}
{% trans "running" %}
{% trans "successful" %}
{% trans "error" %}

{% trans "now" %}
{% trans "daily" %}
{% trans "weekly" %}
{% trans "monthly" %}
{% trans "realtime" %}

{% trans "org.backmeup.twitter" %}
{% trans "org.backmeup.dropbox" %}
{% trans "org.backmeup.facebook" %}
{% trans "org.backmeup.moodle" %}
{% trans "org.backmeup.zip" %}

{% trans "org.backmeup.encryption.password" %}
{% trans "Encryption Plugin" %}

{% trans "image" %}
{% trans "html" %}

{% trans "Firstname" %}
{% trans "Surname" %}
{% trans "Street" %}
{% trans "City" %}
{% trans "Postcode" %}

{% trans "Index has been deleted" %}
{% trans "User is already active!" %}
{% trans "The indexer plugin" %}
{% trans "Profile" %}
{% trans "Friends" %}
{% trans "Friendslists" %}
{% trans "Groups" %}
{% trans "Sites" %}
{% trans "Posts" %}
{% trans "Photos" %}
{% trans "Albums" %}
{% trans "This plugin encrypts all files by using TrueCrypt" %}
{% trans "To verify the email address of your backmeup account, open the following link in your browser: " %}
{% trans "Alternatively you might want to enter the verification key manually: " %}
{% trans "If you didnt request a backmeup account, you can simply ignore this mail. " %}
{% trans "Your password needs to be at least 8 characters long." %}
{% trans "Password must be at least 8 chars." %}
{% trans "Get Involved!" %}
{% trans "Sign in" %}

{% trans "Indexer " %}
{% trans "The indexer plugin " %}
{% trans "Failed to verify email"%}
