{% load i18n %}

{% blocktrans with "test" as account %}org.backmeup.twitter - {{ account }}{% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.dropbox - {{ account }}{% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.facebook - {{ account }}{% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.moodle - {{ account }}{% endblocktrans %}

{% blocktrans with "test" as account %}org.backmeup.twitter ({{ account }}){% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.dropbox ({{ account }}){% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.facebook ({{ account }}){% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.moodle ({{ account }}){% endblocktrans %}

{% trans "org.backmeup.twitter - Profil" %}
{% trans "org.backmeup.dropbox - Profil" %}
{% trans "org.backmeup.facebook - Profil" %}
{% trans "org.backmeup.moodle - Profil" %}
{% trans "org.backmeup.zip - Profil" %}

{% trans "User has not been activated!" %}
{% trans "Some error occurred." %}
{% trans "There must be at least one source profile to download data from!" %}

{% trans "queued" %}
{% trans "running" %}
{% trans "successful" %}
{% trans "error" %}

{% trans "now" %}
{% trans "daily" %}
{% trans "weekly" %}
{% trans "monthly" %}

{% trans "org.backmeup.twitter" %}
{% trans "org.backmeup.dropbox" %}
{% trans "org.backmeup.facebook" %}
{% trans "org.backmeup.moodle" %}
{% trans "org.backmeup.zip" %}

{% trans "org.backmeup.encryption.password" %}
{% trans "Encryption Plugin" %}

{% trans "image" %}
{% trans "html" %}

