{% load i18n %}

{% blocktrans with "test" as account %}org.backmeup.twitter - {{ account }}{% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.dropbox - {{ account }}{% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.facebook - {{ account }}{% endblocktrans %}
{% blocktrans with "test" as account %}org.backmeup.moodle - {{ account }}{% endblocktrans %}

{% trans "org.backmeup.twitter - Profil" %}
{% trans "org.backmeup.dropbox - Profil" %}
{% trans "org.backmeup.facebook - Profil" %}
{% trans "org.backmeup.moodle - Profil" %}
{% trans "org.backmeup.zip - Profil" %}

{% trans "User has not been activated!" %}
{% trans "Some error occurred." %}
{% trans "There must be at least one source profile to download data from!" %}