{% extends "base.html" %}

{% load i18n %}

{% block html_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% if form.errors %}
<p class="form-error">{% trans "Username and Password didn't match. Please try again." %}</p>
{% endif %}

<form method="post" action="{% url access.views.login %}">
{% csrf_token %}
  <div>
    <label for="id_username">{% trans "Email" %}</label>
    {# {{ form.username.label }} #}
    {{ form.username }}
    {% if form.username.errors %}
      {{ form.username.errors }}
    {% endif %}
  </div>
  <div>
    {{ form.password.label_tag }}
    {{ form.password }}
    {% if form.password.errors %}
      {{ form.password.errors }}
    {% endif %}
  </div>
  <div><input type="submit" value="{% trans "Sign In" %}" class="btn" /></div>
  <input type="hidden" name="next" value="/" />
</form>

{% endblock %}