{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% if form.errors %}
<p class="form-error">{% trans "Username und Passwort stimmen nicht überein. Bitte versuchen Sie es erneut." %}</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
{% csrf_token %}
  <div>
    <label for="id_username">Email</label>
    {# {{ form.username.label }} #}
    {{ form.username }}
    {% if form.username.errors %}
      {{ form.username.errors }}
    {% endif %}
  </div>
  <div>
    {{ form.password.label_tag }}
    {{ form.password }}
    {% if form.password.errors %}
      {{ form.password.errors }}
    {% endif %}
  </div>
  <div><input type="submit" value="{% trans "Einloggen" %}" class="btn" /></div>
  <input type="hidden" name="next" value="/" />
</form>

{% endblock %}