{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form action="." method="post">{% csrf_token %}
  <div>
    {{ form.email.label }}
    {{ form.email }}
    {% if form.email.errors %}
      <span class="form-error">{{ form.email.errors }}</span>
    {% endif %}
  </div>
  <div>
    {{ form.password1.label }}
    {{ form.password1 }}
    {% if form.password1.errors %}
      <span class="form-error">{{ form.password1.errors }}</span>
    {% endif %}
  </div>
  <div>
    {{ form.password2.label }}
    {{ form.password2 }}
    {% if form.password2.errors %}
      <span class="form-error">{{ form.password2.errors }}</span>
    {% endif %}
  </div>
  <div><input type="submit" value="{% trans "Neuen Zugang erstellen" %}" class="btn"></div>
</form>
{% endblock content %}
