{% extends "base.html" %}
{% load i18n %}

{% block html_title %}{% trans "Account Settings" %}{% endblock %}

{% block content %}
{% if request.GET.index_deactivated == 'true' %}
<div>
  <ul class="messages">
    <li class="info"><button type="button" class="close"></button>{% trans "Search index has been deactivated. Delete existing index?" %}
    <a href="?index_delete=true">{% trans "yes" %}</a></li>
  </ul>
</div>
{% endif %}
<h1>{% trans "Account Settings" %}</h1>


<form action="." method="POST">{% csrf_token %}
  
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  
  <fieldset class="settings-fieldset">
    <legend>{% trans "Change Email-address" %}</legend>
    <div>
      {{ form.email.label }}
      {{ form.email }}
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
    </div>
  </fieldset>
  <fieldset class="settings-fieldset">
    <legend>{% trans "Change password" %}</legend>
    <div>
      {{ form.new_password1.label }}
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
        {{ form.new_password1.errors }}
      {% endif %}
    </div>
    <div>
      {{ form.new_password2.label }}
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
        {{ form.new_password2.errors }}
      {% endif %}
    </div>
  </fieldset>
  
  <fieldset class="settings-fieldset">
    {% for field in form.field_group_actions %}
      <div>
        <label>{{ field }}{% trans field.label %}</label>
        <span class="helptext">{% trans field.help_text %}</span>
        {% if field.errors %}
          {{ field.errors }}
        {% endif %}
      </div>
    {% endfor %}
  </fieldset>
  
  <div>
    {{ form.old_password.label }}
    {{ form.old_password }}
    {% if form.old_password.errors %}
      {{ form.old_password.errors }}
    {% endif %}
  </div>
  <div><input type="submit" value="{% trans "Save" %}" class="btn"></div>
</form>
{% endblock content %}
