{% extends "base.html" %}
{% load i18n %}

{% block html_title %}{% trans "Account Settings" %}{% endblock %}

{% block content %}

<h1>{% trans "Account Settings" %}</h1>

<form action="." method="POST">{% csrf_token %}
  <fieldset class="settings-fieldset">
    <legend>{% trans "Change Email-address" %}</legend>
    <div>
      {{ form.email.label }}
      {{ form.email }}
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
    </div>
  </fieldset>
  <fieldset class="settings-fieldset">
    <legend>{% trans "Change password" %}</legend>
    <div>
      {{ form.new_password1.label }}
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
        {{ form.new_password1.errors }}
      {% endif %}
    </div>
    <div>
      {{ form.new_password2.label }}
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
        {{ form.new_password2.errors }}
      {% endif %}
    </div>
  </fieldset>
  <div>
    {{ form.old_password.label }}
    {{ form.old_password }}
    {% if form.old_password.errors %}
      {{ form.old_password.errors }}
    {% endif %}
  </div>
  <div><input type="submit" value="{% trans "Save" %}" class="btn"></div>
</form>
{% endblock content %}
