{% extends "base.html" %}
{% load i18n %}

{% block html_title %}{% trans "Verify Email-Adress" %}{% endblock %}

{% block content %}

<h1>{% trans "Verify Email-Address" %}</h1>

<p>{% trans "An email with a verification key was send to your email-address. Please insert the verification key or click the link in the email to verify your email address." %}</p>

<form action="." method="post">{% csrf_token %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  <div>
    {{ form.verify_hash.label }}
    {{ form.verify_hash }}
    <span class="helptext">{{ form.verify_hash.help_text }}</span>
    {% if form.verify_hash.errors %}
      <span class="form-error">{{ form.verify_hash.errors }}</span>
    {% endif %}
  </div>
  
  <p><input type="submit" value="{% trans "Verify Email" %}" class="btn"></p>
  <p><a href="{% url verify-email-resend %}" class="smaller">{% trans "resend verification email" %}</a></p>
</form>

{% endblock content %}
