{% load i18n %}

<nav id="login-nav" class="nav">
  <ul>
    {% if user.is_authenticated %}
      <li>
        {#  TODO: decide whether to use bootstrap-library or not #}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }}</a>
        <ul id="user-dropdown">
          <li><a href="#link-to-user-settings">{% trans "Konto-Einstellungen" %}</a></li>
          <li><a href="{% url django.contrib.auth.views.logout %}">{% trans "Abmelden" %}</a></li>
        </ul>
      </li>
    {% else %}
      <li><a href="{% url django.contrib.auth.views.login %}">{% trans "Einloggen" %}</a></li>
      <li><a href="{% url signup %}">{% trans "Registrieren" %}</a></li>
    {% endif %}
  </ul>
</nav>