{% load i18n %}

{# <nav id="login-nav" class="nav"> #}
{#   <ul> #}
{#     {% if user.is_authenticated %} #}
{#       <li class="dropdown"> #}
{#         <a href="#" class="dropdown-toggle icon-after-caret-down" data-toggle="dropdown">{{ user }}</a> #}
{#         <ul id="user-dropdown" class="dropdown-menu"> #}
{#           <li><a href="{% url user-settings %}">{% trans "Konto-Einstellungen" %}</a></li> #}
{#           <li><a href="{% url django.contrib.auth.views.logout %}">{% trans "Abmelden" %}</a></li> #}
{#         </ul> #}
{#       </li> #}
{#       <li> #}
{#         {% include "www/includes/header_search.html" %} #}
{#       </li> #}
{#     {% else %} #}
{#       <li><a href="{% url django.contrib.auth.views.login %}">{% trans "Einloggen" %}</a></li> #}
{#       <li><a href="{% url signup %}">{% trans "Registrieren" %}</a></li> #}
{#     {% endif %} #}
{#   </ul> #}
{# </nav> #}


<nav class="nav">
  <ul class="user-nav">
    {% if user.is_authenticated %}
      <li class="dropdown">
        {#  TODO: decide whether to use bootstrap-library or not #}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }}</a>
        <ul id="user-dropdown" class="dropdown-menu">
          <li><a href="{% url user-settings %}" class="icon-after-cogs">{% trans "Konto-Einstellungen" %}</a></li>
          <li><a href="{% url django.contrib.auth.views.logout %}" class="icon-after-signout">{% trans "Abmelden" %}</a></li>
        </ul>
      </li>
      <li>
        {% include "www/includes/header_search.html" %}
      </li>
    {% else %}
      <li><a href="{% url django.contrib.auth.views.login %}">{% trans "Einloggen" %}</a></li>
      <li><a href="{% url signup %}">{% trans "Registrieren" %}</a></li>
    {% endif %}
  </ul>
</nav>