{% load i18n %}

{# <nav id="login-nav" class="nav"> #}
{#   <ul> #}
{#     {% if user.is_authenticated %} #}
{#       <li class="dropdown"> #}
{#         <a href="#" class="dropdown-toggle icon-after-caret-down" data-toggle="dropdown">{{ user }}</a> #}
{#         <ul id="user-dropdown" class="dropdown-menu"> #}
{#           <li><a href="{% url user-settings %}">{% trans "Konto-Einstellungen" %}</a></li> #}
{#           <li><a href="{% url django.contrib.auth.views.logout %}">{% trans "Abmelden" %}</a></li> #}
{#         </ul> #}
{#       </li> #}
{#       <li> #}
{#         {% include "www/includes/header_search.html" %} #}
{#       </li> #}
{#     {% else %} #}
{#       <li><a href="{% url django.contrib.auth.views.login %}">{% trans "Einloggen" %}</a></li> #}
{#       <li><a href="{% url signup %}">{% trans "Registrieren" %}</a></li> #}
{#     {% endif %} #}
{#   </ul> #}
{# </nav> #}

{% if user.is_authenticated %}
  <nav class="nav">
    <ul class="user-nav">
        <li class="dropdown user-item">
          {#  TODO: decide whether to use bootstrap-library or not #}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{ user }}</span></a>
          <ul id="user-dropdown" class="dropdown-menu">
            <li><a href="/" class="icon-after-inbox">{% trans "My Backups" %}</a></li>
            <li><a href="{% url user-settings %}" class="icon-after-cogs">{% trans "Account-Settings" %}</a></li>
            <li><a href="{% url access.views.logout %}" class="icon-after-signout">{% trans "Sign out" %}</a></li>
          </ul>
        </li>
        <li class="dropdown search-item">{% include "www/includes/header_search.html" %}</li>
    </ul>
  </nav>
{% else %}
  <nav class="nav">
    <ul class="user-nav">
      <li><a href="{% url access.views.login %}">{% trans "Sign In" %}</a></li>
      <li><a href="{% url signup %}">{% trans "Sign Up" %}</a></li>
    </ul>
  </nav>
{% endif %}