{% extends "base.html" %}

{% load i18n %}

{% block body_class %}class="home"{% endblock %}

{% block content %}
  <h1>{% trans "Create new Backup" %}</h1> 
  <h2>{% trans "Datasink-Options" %}</h2>
  
  <form action="." method="POST">{% csrf_token %}
    
    {{ form.as_p }}
    
    <p><button type="submit" class="btn-next">{% trans "next" %}</button></p>
  </form>
  
  {# <ul> #}
  {#   {% for item in datasources %} #}
  {#     <li><img src="{{ item.imageURL }}" width="48">{{ item.title }}</li> #}
  {#   {% endfor %} #}
  {# </ul> #}
{% endblock content %}
