{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h1>{% trans "neues Backup anlegen" %}</h1>  
  <h2>{% trans "Inhalt der Sicherung" %}</h2>
  
  <form action="." method="POST">{% csrf_token %}
    
    {{ form.as_p }}
    
    <p><button type="submit" class="btn-next">{% trans "weiter" %}</button></p>
  </form>
  
  {# <ul> #}
  {#     {% for item in datasources %} #}
  {#       <li><img src="{{ item.imageURL }}" width="48">{{ item.title }}</li> #}
  {#     {% endfor %} #}
  {#   </ul> #}
{% endblock content %}
