{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h1>{% trans "neues Backup anlegen" %}</h1> 
  <h2>{% trans "Daten-Quelle" %}</h2>
  
  <form action="." method="POST">{% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      <label>{{ form.profile_name.label }}
      {{ form.profile_name }}</label>
      {% if form.profile_name.errors %}
        {{ form.profile_name.errors }}
      {% endif %}
    </div>
    
    <div>
      {% for item in form.datasource %}
         <label>{{ item.tag }} {{ item.choice_label }}</label>
      {% endfor %}
      {% if form.datasource.errors %}
        {{ form.datasource.errors }}
      {% endif %}
    </div>
    
    <div>
      <label>{{ form.key_ring.label }}
      {{ form.key_ring }}</label>
      {% if form.key_ring.errors %}
        {{ form.key_ring.errors }}
      {% endif %}
    </div>
    
    <p><button type="submit" class="btn-next">{% trans "weiter" %}</button></p>
  </form>
  
  {# <ul> #}
  {#     {% for item in datasources %} #}
  {#       <li><img src="{{ item.imageURL }}" width="48">{{ item.title }}</li> #}
  {#     {% endfor %} #}
  {#   </ul> #}
{% endblock content %}
