{% extends "base.html" %}

{% load i18n %}

{% block body_class %}class="home"{% endblock %}

{% block content %}
  <h1>create backup</h1>
  
  <h2>{% trans "datasource options" %}</h2>
  
  <form action="." method="POST">{% csrf_token %}
    
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    
    {% for field in form.visible_fields %}
        <div class="fieldWrapper">
          <label>{{ field }} {{ field.label }}</label>
          {% if field.errors %}
            <span class="form-error">{{ field.errors }}</span>
          {% endif %}
        </div>
    {% endfor %}
    
    <p><input type="submit" value="{% trans "next" %}" class="btn"></p>
  </form>
  
  {# <ul> #}
  {#     {% for item in datasources %} #}
  {#       <li><img src="{{ item.imageURL }}" width="48">{{ item.title }}</li> #}
  {#     {% endfor %} #}
  {#   </ul> #}
{% endblock content %}
