{% extends "base.html" %}

{% load i18n %}

{% block body_class %}class="home"{% endblock %}

{% block content %}
  <hgroup class="hgroup">
    <h1>{% trans "Neues Backup anlegen" %}</h1> 
    <h2>{% trans "Speicher-Ziel wählen" %}</h2>
  </hgroup>
  <ul class="add-backup-list">
    <li class="finished-backup-step">
      <h3>{% trans "1. Daten-Quelle" %}</h3>
      <div class="add-backup-content">
        {# TODO: display selected data-source #}
        <h4>{% trans "gewählte Daten-Quelle" %}: Dummy-Facebook</h4>
      </div>
    </li>
    <li class="active-backup-step">
      <h3>{% trans "2. Speicher-Ziel" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "Schritt 2: Speicher-Ziel wählen" %}</h4>
        <form action="." method="POST">{% csrf_token %}
          {{ form.non_field_errors }}
          <div>
            <label>{{ form.profile_name.label }}
            {{ form.profile_name }}</label>
            {% if form.profile_name.errors %}
              {{ form.profile_name.errors }}
            {% endif %}
          </div>

          <div>
            {% for item in form.datasink %}
               <label>{{ item.tag }} {{ item.choice_label }}</label>
            {% endfor %}
            {% if form.datasink.errors %}
              {{ form.datasink.errors }}
            {% endif %}
          </div>

          <div>
            <label>{{ form.key_ring.label }}
            {{ form.key_ring }}</label>
            {% if form.key_ring.errors %}
              {{ form.key_ring.errors }}
            {% endif %}
          </div>

          <div><button type="submit" class="btn-next">{% trans "weiter" %}</button></div>
        </form>        
      </div>
    </li>
    <li>
      <h3>{% trans "3. Backup-Optionen" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "Schritt 3: Backup-Option festlegen" %}</h4>
      </div>
    </li>
  </ul>
{% endblock content %}
