{% extends "base.html" %}

{% load i18n %}

{% block html_title %}{% trans "Create new Backup" %}{% endblock %}

{% block body_class %}class="home"{% endblock %}

{% block content %}
  <hgroup class="hgroup">
    <h1>{% trans "Create new Backup" %}</h1> 
    <h2>{% trans "Select Data-Target" %}</h2>
  </hgroup>
  <ul class="add-backup-list">
    <li class="finished-backup-step">
      <h3>{% trans "1. Data-Source" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "selected data-source" %}: {{ datasource_profile.title }}</h4>
        <a href="{% url datasource-select %}">{% trans "select a different data-source" %}</a>
      </div>
    </li>
    <li class="active-backup-step">      
      <h3>{% trans "2. Data-Target" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "Step 2: select data-target" %}</h4>
        <form action="." method="POST" class="form-datasink">{% csrf_token %}
          {{ form.non_field_errors }}

          {# <div> #}
          {#             <label>{{ form.profile_name.label }} #}
          {#             {{ form.profile_name }}</label> #}
          {#             {% if form.profile_name.errors %} #}
          {#               {{ form.profile_name.errors }} #}
          {#             {% endif %} #}
          {#           </div> #}
          
          <div>
            <label>{{ form.datasink_profile.label }}</label>
            {{ form.datasink_profile }}
            {{ form.datasink_profile.errors }}
          </div>
          
          <div class="datasink-group">

            {% for item in form.datasink %}
               <label class="icon-{{ item.choice_value|slugify }}">{{ item.tag }} {{ item.choice_label }}</label>
            {% endfor %}
            {% if form.datasink.errors %}
              {{ form.datasink.errors }}
            {% endif %}
          </div>
          <div>
            <button type="submit" class="btn-next">{% trans "next" %}</button>
          </div>
        </form>        
      </div>
    </li>
    <li>
      {% if datasource_profile.title and datasink_profile.title %}
        <h3><a href="{% url job-create %}">{% trans "3. Backup-Options" %}</a></h3>
      {% else %}
        <h3>{% trans "3. Backup-Options" %}</h3>
      {% endif %}
      <div class="add-backup-content">
        <h4>{% trans "Step 3: select Backup-Options" %}</h4>
      </div>
    </li>
  </ul>
{% endblock content %}

{% block additional_js %}
<script>
$(function(){
  $('.datasink-group').on('click', 'label', function() {
      $(this).find('input[type="radio"]').attr("checked", "checked");
      $('.form-datasink').submit();
  });
  $('#id_datasink_profile').on('change', function() {
    $('.form-datasink').submit();
  });
})
</script>
{% endblock %}
