{% extends "base.html" %}

{% load i18n %}

{% block html_title %}{% trans "Create new Backup" %}{% endblock %}

{% block content %}
  <hgroup class="hgroup">
    <h1>{% trans "Create new Backup" %}</h1> 
    <h2>{% trans "Select Data-Source - Authentication" %}</h2>
  </hgroup>
  
  <ul class="add-backup-list">
    <li class="active-backup-step">
      <h3>{% trans "1. Data-Source" %}</h3>
      <div class="add-backup-content">
        <h4>{% blocktrans with datasource=datasource_profile.title %}Step 2: select data-target - authenticate {{ datasource }}{% endblocktrans %}</h4>
        <form action="." method="POST">{% csrf_token %}
        
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        
        {% for field in form.visible_fields %}
        <div>
          <label>{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            {{ field.errors }}
          {% endif %}
        </div>
        {% endfor %}
          <div>
            <button type="submit" class="btn">{% trans "next" %}</button>
             or <a href="{% url datasource-select %}">{% trans "select a different data-source" %}</a>
          </div>
        </form>
      </div>
    </li>
    <li>
      <h3>{% trans "2. Data-Target" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "Step 2: select data-target" %}</h4>        
      </div>
    </li>
    <li>
      <h3>{% trans "3. Backup-Options" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "Step 3: select backup-options" %}</h4>
      </div>
    </li>
  </ul>
{% endblock content %}
