{% extends "base.html" %}

{% load i18n %}

{% block html_title %}
  {% if user.is_authenticated %}
    {% trans "My Backups" %}
  {% else %}
    {% trans "Welcome" %}
  {% endif %}
{% endblock %}

{% block body_class %}
  {% if user.is_authenticated %}
    class="dashboard"
  {% else %}
    class="home"
  {% endif %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% include "www/includes/dashboard.html" %}
  {% else %}
    {% include "www/includes/homepage.html" %}
  {% endif %}
{% endblock content %}

{% block footer_teaser %}
  {% if not user.is_authenticated %}
    <div class="footer-teaser">
      <a href="/get-started/">
        <strong>{% trans "Get started" %}: </strong>
        {% trans "Get started teaser-text" %}
      </a>
    </div>
  {% endif %}
{% endblock %}
