{% extends "base.html" %}

{% load i18n %}

{% block html_title %}{% trans "Create new Backup" %}{% endblock %}

{% block content %}
  <hgroup class="hgroup">
    <h1>{% trans "Create new Backup" %}</h1> 
    <h2>{% trans "Select Backup-Options" %}</h2>
  </hgroup>
  
  <ul class="add-backup-list">
    <li class="finished-backup-step">
      <h3>{% trans "1. Data-Source" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "selected data-source" %}: {{ datasource_profile.title }}</h4>
      </div>
    </li>
    <li class="finished-backup-step">
      <h3>{% trans "2. Data-Target" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "selected data-target" %}: {{ datasink_profile.title }}</h4>
      </div>
    </li>
    <li class="active-backup-step">
      <h3>{% trans "3. Backup-Options" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "Step 3: select backup-options" %}</h4>
        <form action="." method="POST" class="form-job-create">{% csrf_token %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          
          <fieldset>
            <legend>{% trans "Backup settings" %}</legend>
            {% for field in form.field_group_job %}
            <div>
              <label>{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                {{ field.errors }}
              {% endif %}
            </div>
            {% endfor %}
          </fieldset>
          
          <fieldset>
            <legend>{% trans "Datasource options" %}</legend>
            {% for field in form.field_group_datasource_options %}
            <div>
              <label>{{ field }}{{ field.label }}</label>
              {% if field.errors %}
                {{ field.errors }}
              {% endif %}
            </div>
            {% endfor %}
          </fieldset>
          
          <fieldset>
            <legend>{% trans "Backup actions" %}</legend>
            {% for field in form.field_group_actions %}
            <div>
              <label>{{ field }}{{ field.label }}</label>
              {% if field.errors %}
                {{ field.errors }}
              {% endif %}
            </div>
            {% endfor %}
          </fieldset>
          
          <p><input type="submit" value="{% trans "Create Backup" %}" class="btn"></p>
        </form>
      </div>
    </li>
  </ul>
{% endblock content %}

