{% extends "base.html" %}

{% load i18n %}

{% block body_class %}class="home"{% endblock %}

{% block content %}
  <hgroup class="hgroup">
    <h1>{% trans "Neues Backup anlegen" %}</h1> 
    <h2>{% trans "Backup-Option festlegen" %}</h2>
  </hgroup>
  
  <ul class="add-backup-list">
    <li>
      <h3>{% trans "1. Daten-Quelle" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "Schritt 1: Daten-Quelle wählen" %}</h4>
      </div>
    </li>
    <li>
      <h3>{% trans "2. Speicher-Ziel" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "Schritt 2: Speicher-Ziel wählen" %}</h4>        
      </div>
    </li>
    <li class="active-backup-step">
      <h3>{% trans "3. Backup-Optionen" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "Schritt 3: Backup-Option festlegen" %}</h4>
        <form action="." method="POST">{% csrf_token %}

          {{ form.as_p }}

          <p><input type="submit" value="{% trans "Backup anlegen" %}" class="btn"></p>
        </form>
      </div>
    </li>
  </ul>
{% endblock content %}

