{% extends "base.html" %}
{% load i18n %}

{% block html_title %}
  {% if job.jobTitle %}
    {{ job.jobTitle }}
  {% else %}
    Backup #{{ job.backupJobId }}
  {% endif %}
{% endblock %}

{% block content %}
  {# TODO: replace job.id with job.name #}
  <h1>
    {% if job.jobTitle %}
      {{ job.jobTitle }}
    {% else %}
      Backup #{{ job.backupJobId }}
    {% endif %}
  </h1>
  <ul class="backup-summary-list">
    {% for source in job.datasources %}
    <li><strong>{% trans "Data-Source" %}</strong>: {{ source.title }}</li>
    {% endfor %}
    <li><strong>{% trans "Data-Target" %}</strong>: {{ job.datasinkTitle }}</li>
    {# TODO: pass backup-state as classname, eg: "ok", "inactive" #}
    <li><strong>{% trans "Backup-State" %}</strong>: <span class="icon-backupstate-in-progress"><strike>Backup wird ausgeführt</strike></span></li>
  </ul>
  <ul>
    {% for item in log %}
      <li>
        {{ item.message }}<br>
        {{ item.type }}<br>
        {{ item.timeStamp }}<br>
        {{ item.category }}<br>
        {{ item.jobId }}<br>
        {# <ul> #}
        {#           {% for file in item.files %} #}
        {#             <li>{{ file }}<li> #}
        {#           {% endfor %} #}
        {#         </ul> #}
      </li>
      <hr />
    {% endfor %}
  </ul>
{% endblock content %}

