{% extends "base.html" %}

{% load i18n %}

{% block html_title %}{% trans "Create new Backup" %}{% endblock %}

{% block content %}
  <hgroup class="hgroup">
    <h1>{% trans "Create new Backup" %}</h1> 
    <h2>{% trans "Select Backup-Options" %}</h2>
  </hgroup>
  
  <ul class="add-backup-list">
    <li class="finished-backup-step">
      <h3>{% trans "1. Data-Source" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "selected data-source" %}: {% trans datasource_profile.good_title %}</h4>
        <a href="{% url datasource-select %}">{% trans "select a different data-source" %}</a>
      </div>
    </li>
    <li class="finished-backup-step">
      <h3>{% trans "2. Data-Target" %}</h3>
      <div class="add-backup-content">
	      <h4>{% trans "selected data-target" %}: {% trans datasink_profile.good_title %}</h4>
        <a href="{% url datasink-select %}">{% trans "select a different data-sink" %}</a>
      </div>
    </li>
    <li class="active-backup-step">
      <h3>{% trans "3. Backup-Options" %}</h3>
      <div class="add-backup-content">
        <h4>{% trans "Step 3: select backup-options" %}</h4>
        <form action="." method="POST" class="form-job-create">{% csrf_token %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          
          <fieldset>
            <legend>{% trans "Backup settings" %}</legend>
            {% for field in form.field_group_job %}
            <div>
              <label>{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                {{ field.errors }}
              {% endif %}
            </div>
            {% endfor %}
          </fieldset>
          
          <fieldset class="fieldset-datasource-options">
            <legend>{% trans "Datasource options" %}</legend>
            (<button type="button" class="checkbox-handler">{% trans "toggle all" %}</button>)
            <div class="checkbox-group">
              {% for field in form.field_group_datasource_options %}
              <div>
                <label>{{ field }}{% trans field.label %}</label>
                {% if field.errors %}
                  {{ field.errors }}
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </fieldset>
          
          <fieldset>
            <legend>{% trans "Backup actions" %}</legend>
            <div class="checkbox-group">
              {% for field in form.field_group_actions %}
              
              {% if "option" in field.name %}
                
                <div>
                  <label>{% trans field.label %}</label>
                  {{ field }}
                  {% if field.errors %}
                    {{ field.errors }}
                  {% endif %}
                </div>
                
              {% else %}
                
                <div>
                  <label>{{ field }}{% trans field.label %}</label>
                  <span class="helptext">{% trans field.help_text %}</span>
                  {% if field.errors %}
                    {{ field.errors }}
                  {% endif %}
                </div>
                
              {% endif %}
              
              {% endfor %}
            </div>
          </fieldset>
          
          <div class="action-box"><input type="submit" value="{% trans "Create Backup" %}" class="btn"></div>
        </form>
      </div>
    </li>
  </ul>
{% endblock content %}

{% block additional_js %}
<script>
$(function(){
  var toggled = false;
  $('.fieldset-datasource-options').on('click', '.checkbox-handler', function() {
      $('.fieldset-datasource-options').find('input[type="checkbox"]').attr("checked", !toggled);
      toggled = !toggled;
  });
})
</script>
{% endblock %}
