{% extends "base.html" %}
{% load i18n %}

{% block html_title %}
  {% if job.jobTitle %}
    {{ job.jobTitle }}
  {% else %}
    Backup #{{ job.backupJobId }}
  {% endif %}
{% endblock %}

{% block content %}
  {# TODO: replace job.id with job.name #}
  <h1>
    {% if job.jobTitle %}
      {{ job.jobTitle }}
    {% else %}
      Backup #{{ job.backupJobId }}
    {% endif %}
  </h1>
  <ul class="backup-summary-list">
    {% for source in job.datasources %}
    <li><strong>{% trans "Data-Source" %}</strong>: {{ source.title }}</li>
    {% endfor %}
    <li><strong>{% trans "Data-Target" %}</strong>: {{ job.datasink.title }}</li>
    {# TODO: pass backup-state as classname, eg: "ok", "inactive" #}
    <li><strong>{% trans "Backup-State" %}</strong>: {{ current_status }}{# <span class="icon-backupstate-in-progress">Backup wird ausgeführt</span> #}</li>
  </ul>
  <ul class="backup-log-list">
    {% for item in log %}
      <li>
        <ul>
          <li>{{ item.message }}</li>
          <li>{{ item.type }}</li>
          <li>{{ item.timeStamp }}</li>
          <li>{{ item.category }}</li>
          <li>{{ item.jobId }}</li>
        </ul>
        {# <ul> #}
        {#   {% for file in item.files %} #}
        {#     <li>{{ file }}<li> #}
        {#   {% endfor %} #}
        {# </ul> #}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}

