{% extends "base.html" %}

{% load i18n %}

{% block html_title %}{% trans "Edit Backup" %}{% endblock %}

{% block body_class %}class="edit-backup-page"{% endblock %}

{% block content %}
  <hgroup class="hgroup">
    <h1>{% trans "Edit Backup" %}</h1>
  </hgroup>
  
  <ul class="add-backup-list">
    <li class="active-backup-step">
      <h2 class="h3">{% trans "Backup-Options" %}</h2>
      <div class="add-backup-content">
        <form action="." method="POST" class="form-job-create">{% csrf_token %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          
          <fieldset>
            <legend>{% trans "Backup settings" %}</legend>
            {% for field in form.field_group_job %}
            <div>
              <label>{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                {{ field.errors }}
              {% endif %}
            </div>
            {% endfor %}
          </fieldset>
          
          <fieldset class="fieldset-datasource-options">
            <legend>{% trans "Datasource options" %}</legend>
            (<button type="button" class="checkbox-handler">{% trans "toggle all" %}</button>)
            <div class="checkbox-group">
              {% for field in form.field_group_datasource_options %}
              <div>
                <label>{{ field }}{{ field.label }}</label>
                {% if field.errors %}
                  {{ field.errors }}
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </fieldset>
          
          <fieldset>
            <legend>{% trans "Backup actions" %}</legend>
            <div class="checkbox-group">
              {% for field in form.field_group_actions %}
              <div>
                <label>{{ field }}{{ field.label }}</label>
                <span class="helptext">{{ field.help_text }}</span>
                {% if field.errors %}
                  {{ field.errors }}
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </fieldset>
          
          <div class="action-box"><input type="submit" value="{% trans "Save and start backup-job" %}" class="btn"></div>
        </form>
      </div>
    </li>
  </ul>
{% endblock content %}

{% block additional_js %}
<script>
$(function(){
  var toggled = false;
  $('.fieldset-datasource-options').on('click', '.checkbox-handler', function() {
      $('.fieldset-datasource-options').find('input[type="checkbox"]').attr("checked", !toggled);
      toggled = !toggled;
  });
})
</script>
{% endblock %}
