{% extends "base.html" %}
{% load i18n %}
{% load backmeup_tags %}
{% block html_title %}
  {% if job.jobTitle %}
    {{ job.jobTitle }}
  {% else %}
  Backup #{{ job.backupJobId }}
  {% endif %}
{% endblock %}

{% block content %}
<script type="text/javascript">
	$(document).ready(function(){
			ajax_request();
	});	
	function ajax_request(){
		var job_id=$("#job_id").val();
		var job_s=$("#job_s").val();
		if(job_s!="successful"){
	        	$.ajax({
	              		url:"/job/status/"+job_id+"/",
	              		dataType: "json",
				success: function (response_data){
		      			if(response_data['status']!="running"){
		      				location.reload()
			
					}
	                       		$("#job_status").val(response_data['status']);
				}
																									});
			}
		setTimeout(function(){ajax_request();},6000);
		}
</script>
<input type="hidden" id="job_id" name="job_id" value="{{job.backupJobId}}"/>
  {# TODO: replace job.id with job.name #}
  <h1>
    {% if job.jobTitle %}
      {{ job.jobTitle }}
    {% else %}
      Backup #{{ job.backupJobId }}
    {% endif %}
  </h1>
  <input type="hidden" name="job_status" id="job_status" value=""/>
  <ul class="backup-summary-list">
    {% for source in job.datasources %}
    <li><strong>{% trans "Data-Source" %}</strong>: {{ source.title }}</li>
    {% endfor %}
    <li><strong>{% trans "Data-Target" %}</strong>: {{ job.datasink.title }}</li>
    {# TODO: pass backup-state as classname, eg: "ok", "inactive" #}
    <input type="hidden" id="job_s" name="job_s" value="{{job.status}}"/>
    <li><strong>{% trans "Backup-State" %}</strong>: <span class="icon-backupstate-{{ job.status }}">{% trans job.status %}</span></li>
  </ul>
  <ul class="backup-log-list" style="font-size:14px;">
    {% for item in log %}
      <li style="">
      <ul>
	      <li>{{item.timeStamp|date:'d.m.Y H:i:s'}}</li>
	      <li>{{ item.type }}</li>
		{% if item.message %}<li>{{ item.message|slice:":55"}} ... {{ item.message|slice:"-55:"}}</li>{% endif %}
        </ul>
        {# <ul> #}
        {#   {% for file in item.files %} #}
        {#     <li>{{ file }}<li> #}
        {#   {% endfor %} #}
        {# </ul> #}
      </li>
      {% endfor %}
  </ul>
{% endblock content %}

