@media only screen and (min-width: 480px) {
  // --- Dashboard --- //
  .dashboard h1{
    display:inline;
  }
  .dashboard .btn-add {
    float:right;
    @include margin-leader(.25);
  }
  // --- Dashboard END --- //
  
  
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  
  #header-search-form {
    padding-left: 1em;
  }
  
  // meta-nav
  #meta-nav ul {
    li {
      display: inline;
      float: left;
      padding-left: .5em;
      &:before {
        display: inline-block;
        content: '\2022';
        margin-right: .5em;
      }
      &:first-child {
        padding-left: 0;
        &:before {
          content: '';
          margin-right: 0;
          display: none;
        }
      }
    }
  }
  
}