{% load i18n %}

{# <h1>{% trans "Hallo" %} {{ user }}!</h1> #}
<h1 class="inline">{% trans "Meine Backups" %}</h1>
<a href="{% url datasource-select %}" class="btn-add">{% trans "Backup erstellen" %}</a>

{% if jobs %}
  <ul class="backup-list">
  {% for item in jobs %}
    {% include "www/includes/backup_jobs/backup_list_item.html" %}
  {% endfor %}
    
    <li>
      DUMMY DATA START
    </li>
    
    {# DUMMY BACKUP-ITEMS START #}
    <li>
      <header class="header">
        <h3>Dummy Backup 1</h3>
        <a href="#link-to-backup-edit-page" class="edit-link">{% trans "Edit" %}</a>
      </header>
      <div class="bli-section">
        <span class="key">{% trans "Daten-Quelle" %}</span>
        <ul class="value">
          <li>Facebook</li>
          <li>John Doe</li>
          <li>Backup-Data Info</li>
        </ul>
      </div>
      <div class="bli-section">
        <span class="key">{% trans "Speicher-Ziel" %}</span>
        <ul class="value">
          <li>Dropbox</li>
          <li>John Doe</li>
          <li>Verfügbar: 600 MB von 5 GB</li>
        </ul>
      </div>
      {# TODO: pass backup-state as classname, eg: "ok", "inactive" #}
      <div class="bli-section backupstate-ok">
        <span class="key">{% trans "Backup-Status" %}</span>
        <ul class="value">
          <li><span class="backupstate-icon">OK</span></li>
          <li>nächstes Backup: 22.4.2012 9:00</li>
        </ul>
      </div>
    </li>
    
    <li>
      <header class="header">
        <h3>Dummy Backup 2</h3>
        <a href="#link-to-backup-edit-page" class="edit-link">{% trans "Edit" %}</a>
      </header>
      <div class="bli-section">
        <span class="key">{% trans "Daten-Quelle" %}</span>
        <ul class="value">
          <li>Facebook</li>
          <li>John Doe</li>
          <li>Backup-Data Info</li>
        </ul>
      </div>
      <div class="bli-section">
        <span class="key">{% trans "Speicher-Ziel" %}</span>
        <ul class="value">
          <li>Dropbox</li>
          <li>John Doe</li>
          <li>Verfügbar: 10 MB von 5 GB</li>
        </ul>
      </div>
      {# TODO: pass backup-state as classname, eg: "ok", "inactive" #}
      <div class="bli-section backupstate-warning">
        <span class="key">{% trans "Backup-Status" %}</span>
        <ul class="value">
          <li><span class="backupstate-icon">Achtung:</span> nur noch 10 MB Speicherplatz verfügbar</li>
          <li>nächstes Backup: 22.4.2012 9:00</li>
        </ul>
      </div>
    </li>
    
    <li>
      <header class="header">
        <h3>Dummy Backup 3</h3>
        <a href="#link-to-backup-edit-page" class="edit-link">{% trans "Edit" %}</a>
      </header>
      <div class="bli-section">
        <span class="key">{% trans "Daten-Quelle" %}</span>
        <ul class="value">
          <li>Facebook</li>
          <li>John Doe</li>
          <li>Backup-Data Info</li>
        </ul>
      </div>
      <div class="bli-section">
        <span class="key">{% trans "Speicher-Ziel" %}</span>
        <ul class="value">
          <li>Dropbox</li>
          <li>John Doe</li>
          <li>Verfügbar: 10 MB von 5 GB</li>
        </ul>
      </div>
      {# TODO: pass backup-state as classname, eg: "ok", "inactive" #}
      <div class="bli-section backupstate-error">
        <span class="key">{% trans "Backup-Status" %}</span>
        <ul class="value">
          <li><span class="backupstate-icon">Fehler:</span> Keine Verbindung zum Speicher-Ziel!</li>
          <li>nächstes Backup: derzeit nicht möglich</li>
        </ul>
      </div>
    </li>
    {# DUMMY BACKUP-ITEMS END #}
    
  </ul>
{% else %}
  <p>{% trans "Noch keine Backups erstellt." %}</p>
{% endif %}