{% load i18n %}

{% if needs_email_validation %}
  <a href="{% url verify-email %}">{% trans "validate email and activate account" %}</a>
{% else %}

<header>
  <h1>{% trans "My Backups" %}</h1>
  <a href="{% url datasource-select %}" class="btn-add">{% trans "Create Backup" %}</a>
</header>

{% if jobs %}
  <ul class="backup-list">
  {% for item in jobs reversed %}
    {% include "www/includes/backup_jobs/backup_list_item.html" %}
  {% endfor %}
  </ul>
{% else %}
  <p>{% trans "No backups yet." %}</p>
{% endif %}
{% endif %}