{% load i18n %}

<form id="header-search-form" class="search" autocomplete="off" method="POST" action="{% url search %}">
  {% csrf_token %}
  
  <label class="header-search-handler dropdown-toggle" data-toggle="dropdown" for="header-search-field"><span>{% trans "Search" %}</span></label>
  <div class="header-search-wrap dropdown-menu">
    <input id="header-search-field" type="text" value="{{ form.query.value }}" name="query" />
    <button class="searchsubmit" type="submit" title="{% trans "search" %}"></button>
    <span class="reset-search"></span>
  </div>
</form>