{% load i18n flatpages %}

<p>{% trans "Teaser-Text Homepage" %}</p>
<p><a href="{% url signup %}" class="btn">{% trans "Sign Up" %}</a></p>

<nav id="teaser-nav" class="nav">
  <ul>
    <li class="teaser-features">
      <a href="/features/">
        <h3>{% trans "Features" %}</h3>
        <div class="teaser-content">
          {% trans "Teaser-Text Features" %}
        </div>
      </a>
    </li>
    <li class="teaser-get-started">
      <a href="/get-started/">
        <h3>{% trans "Get Started" %}</h3>
        <div class="teaser-content">
          {% trans "Teaser-Text Get Started" %}
        </div>
      </a>
    </li>
    <li class="teaser-get-involved">
      <a href="/get-involved/">
        <h3>{% trans "Get Involved" %}</h3>
        <div class="teaser-content">
          {% trans "Teaser-Text Get Involved" %}
        </div>
      </a>
    </li>
  </ul>
</nav>