{% load i18n flatpages %}

<div class="teaser-container">
  <h1>{% trans "*homepage headline" %}</h1>
  <div class="teaser-text">
    <p>{% trans "*homepage text" %}</p>
    <p><a href="{% url signup %}" class="btn">{% trans "Sign Up" %}</a></p>
  </div>
</div>
<div class="sujet">
  <ul class="bjqs">
    <li><img src="{{ STATIC_URL }}img/content/sujets/sujet1.jpg" alt="The Cloud in your hands" /></li>
    <li><img src="{{ STATIC_URL }}img/content/sujets/sujet2.jpg" alt="Deine Daten in Deiner Hand" /></li>
    <li><img src="{{ STATIC_URL }}img/content/sujets/sujet3.jpg" alt="My Cloud is my castle" /></li>
    <li><img src="{{ STATIC_URL }}img/content/sujets/sujet4.jpg" alt="Bring the Cloud back home" /></li>
  </ul>
</div>

{# <nav id="teaser-nav" class="nav"> #}
{#   <ul> #}
{#     <li class="teaser-features"> #}
{#       <a href="/features/"> #}
{#         <h3>{% trans "Features" %}</h3> #}
{#         <div class="teaser-content"> #}
{#           {% trans "Teaser-Text Features" %} #}
{#         </div> #}
{#       </a> #}
{#     </li> #}
{#     <li class="teaser-get-started"> #}
{#       <a href="/get-started/"> #}
{#         <h3>{% trans "Get Started" %}</h3> #}
{#         <div class="teaser-content"> #}
{#           {% trans "Teaser-Text Get Started" %} #}
{#         </div> #}
{#       </a> #}
{#     </li> #}
{#     <li class="teaser-get-involved"> #}
{#       <a href="/get-involved/"> #}
{#         <h3>{% trans "Get Involved" %}</h3> #}
{#         <div class="teaser-content"> #}
{#           {% trans "Teaser-Text Get Involved" %} #}
{#         </div> #}
{#       </a> #}
{#     </li> #}
{#   </ul> #}
{# </nav> #}