{% extends "base.html" %}

{% block html_title %}Styleguide{% endblock %}

{% block content %}
  <h1>Back Me Up - Styleguide</h1>
  <section class="styleguide-section">
    <h2 class="styleguide-headline">Typography</h2>
    <div class="styleguide-content">
      <article class="section-article">
        <h1>Headline 1</h1>
        <h2>Headline 2</h2>
        <h3>Headline 3</h3>
        <h4>Headline 4</h4>
        <h5>Headline 5</h5>
        <h6>Headline 6</h6>
      </article>
    </div>
  </section>
  <section class="styleguide-section">
    <h2 class="styleguide-headline">Icons</h2>
    <div class="styleguide-content">
      <span class="icon-after-caret-down">Text</span><br/>
      <span class="icon-after-caret-up">Text</span><br/>
      <span class="icon-before-search">Text</span><br/>
      <span class="icon-after-search">Text</span><br/>
      <span class="icon-before-facebook-sign">Text</span><br/>
      <span class="icon-before-twitter-sign">Text</span><br/>
      <span class="icon-before-check">Text</span><br/>
      <span class="icon-before-check-empty">Text</span><br/>
      <span class="icon-after-chevron-right">Text</span><br/>
      <span class="icon-before-exclamation-sign">Text</span><br/>
      <span class="icon-after-exclamation-sign">Text</span><br/>
      {# <span class="">Text</span> #}
    </div>
  </section>
  <section class="section">
    <h2>Django Messages</h2>
    <div class="styleguide-content">
      <ul class="messages">
        <li><button type="button" class="close"></button>Default: Backup wurde gelöscht.</li>
        <li class="info"><button type="button" class="close"></button>Info: Backup wurde gelöscht.</li>
        <li class="success"><button type="button" class="close"></button>Success: Backup wurde gelöscht.</li>
        <li class="warning"><button type="button" class="close"></button>Warning: Backup wurde gelöscht.</li>
        <li class="error"><button type="button" class="close"></button>Error: Backup wurde gelöscht.</li>
      </ul>
    </div>
  </section>
  <section class="section">
    <h2></h2>
    <div class="styleguide-content">
      
    </div>
  </section>
  <section class="section">
    <h2></h2>
    <div class="styleguide-content">
      
    </div>
  </section>
  <section class="section">
    <h2></h2>
    <div class="styleguide-content">
      
    </div>
  </section>
{% endblock %}
