{% extends "base.html" %}

{% block html_title %}Styleguide - Back Me Up{% endblock %}

{% block content %}
  <h1>Back Me Up - Styleguide</h1>
  <section class="styleguide-section">
    <h2 class="styleguide-headline">Typography</h2>
    <div class="styleguide-content">
      <article class="section-article">
        <h1>Headline 1</h1>
        <h2>Headline 2</h2>
        <h3>Headline 3</h3>
        <h4>Headline 4</h4>
        <h5>Headline 5</h5>
        <h6>Headline 6</h6>
      </article>
    </div>
  </section>
  <section class="section">
    <h2></h2>
    <div class="styleguide-content">
      
    </div>
  </section>
  <section class="section">
    <h2></h2>
    <div class="styleguide-content">
      
    </div>
  </section>
  <section class="section">
    <h2></h2>
    <div class="styleguide-content">
      
    </div>
  </section>
  <section class="section">
    <h2></h2>
    <div class="styleguide-content">
      
    </div>
  </section>
  <section class="section">
    <h2></h2>
    <div class="styleguide-content">
      
    </div>
  </section>
{% endblock %}