{% load i18n %}

<li>
  <header class="header">
    <h3>
      {% if item.jobTitle %}
        {{ item.jobTitle }} ({{ item.createDate|date:"SHORT_DATETIME_FORMAT" }})
      {% else %}
        Backup #{{ item.backupJobId }} ({{ item.createDate|date:"SHORT_DATETIME_FORMAT" }})
        
        {# {{ item.datasources.0.title }} &rarr; {{ item.datasink.title }} ({{ item.createDate|date:"SHORT_DATETIME_FORMAT" }}) #}
      {% endif %}
    </h3>
    <a href="#" class="backup-details-handler">{% trans "Details" %}</a>
  </header>
  <div class="backup-summary">
    <ul>
      <li><span class="key">{% trans "Data-Source" %}: </span>{{ item.datasources.0.title }}</li>
      <li><span class="key">{% trans "Data-Target" %}: </span>{{ item.datasink.title }}</li>
      <li><strike><span class="key">{% trans "Backup-State" %}: </span><span class="icon-backupstate-ok">OK</span></strike></li>
    </ul>
  </div>
  
  <div class="backup-details">
    <div class="bli-section">
      <span class="key">{% trans "Data-Source" %}</span>
      {% for source in item.datasources %}
        <ul class="value">
          <li>{{ source.title }}</li>
          {# <li>John Doe</li> #}
          {# <li><strike>Backup-Data Info</strike></li> #}
        </ul>
      {% endfor %}
    </div>
    <div class="bli-section">
      <span class="key">{% trans "Data-Target" %}</span>
      <ul class="value">
        <li>{{ item.datasink.title }}</li>
        {# <li><strike>John Doe</strike></li> #}
        {# <li><strike>Verfügbar: 600 MB von 5 GB</strike></li> #}
      </ul>
    </div>
    {# TODO: pass backup-state as classname, eg: "ok", "inactive" #}
    <div class="bli-section backupstate-ok">
      <strike><span class="key">{% trans "Backup-State" %}</span></strike>
      <ul class="value">
        <li><strike><span class="backupstate-icon">OK</span></strike></li>
        <li>{% trans "next backup" %}: {{ item.nextBackup|date:"SHORT_DATETIME_FORMAT" }}</li>
      </ul>
    </div>
    <div class="bli-section-options">
      <ul>
        <li><strike><a href="#link-to-backup-edit-page" class="edit-link">{% trans "Edit Backup" %}</a></strike></li>
        <li>
          {# TODO: replace 'delete-modal1' with 'delete-modal{{ item.backupJobId }} for actual backup-jobs #}
          <a href="#delete-modal{{ item.backupJobId }}" class="delete-backup-handler" data-toggle="modal">{% trans "Delete Backup" %}</a>
          <div id="delete-modal{{ item.backupJobId }}" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h3>{% trans "Delete Backup" %}</h3>
            </div>
            <form action="." method="post">{% csrf_token %}
              <div class="modal-body">
                <p>{% trans "Do you really want to delete the selected Backup-Job?" %}</p>
                <p class="note">
                  {% trans "By deleting a Backup-Job no further Backups will be created. Backups that have already been created will however remain on the data-target and need to be deleted manually." %}
                </p>
                {# <label>{{ job_delete_form.confirm }} {% trans "Ja, ich will das Backup löschen" %}</label> #}
                <input type="hidden" name="job_id" value="{{ item.backupJobId }}" id="job_id">
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "cancel" %}</button>
                <input type="submit" class="btn-delete" value="{% trans "Delete Backup" %}">
              </div>
            </form>
          </div>
        </li>
        <li class="log-item"><a href="{% url job-log job_id=item.backupJobId %}">{% trans "Backup-Log" %}</a></li>
      </ul>
    </div>
  </div>
</li>
