{% load i18n %}

<script type="text/javascript">
	$(document).ready(function(){
		ajax_request();
	});
	function ajax_request(){
		$(".job_id").each(function(){
			var job_id=$(this).val();
			var job_s=$("#job_s"+job_id).val();
			if(job_s!="successful"){

				$.ajax({
					url:"/job/status/"+job_id+"/",
                                	dataType: "json",
					success: function (response_data){
					if(response_data['status']!="running" && response_data['status']!="error" && response_data['status']!="job_failed"){
							location.reload()
						}
						$("#job_status"+job_id).val(response_data['status']);
					}
				});
																					                                }
																									});
		setTimeout(function(){ajax_request();},15000);
	
	}

</script>

<li>
  <header class="header">
    <h3>
      {% if item.jobTitle %}
        {{ item.jobTitle }} 
        {# ({{ item.createDate|date:"SHORT_DATETIME_FORMAT" }}) #}
      {% else %}
        Backup #{{ item.backupJobId }} 
        {# ({{ item.createDate|date:"SHORT_DATETIME_FORMAT" }}) #}
        
        {# {{ item.datasources.0.title }} &rarr; {{ item.datasink.title }} ({{ item.createDate|date:"SHORT_DATETIME_FORMAT" }}) #}
      {% endif %}
    </h3>
    <a href="#" class="backup-details-handler">{% trans "Details" %}</a>
  </header>
  <div class="backup-summary">
    <ul>
	    <li><span class="key">{% trans "Data-Source" %}: </span>{{ item.datasources.0.title }}</li>
	    <li><span class="key">{% trans "Data-Target" %}: </span>{% trans item.datasink.title %}</li>
      {# # status is one of the following:  #}
      {# # * queued: after the job has been created. #}
      {# # * running: if the job is currently being executed. #}
      {# # * successful: if the last execution executed successfully. #}
      {# # * error: if the last execution failed. #}
      <input type="hidden" id="job_id" name="job_id" class="job_id" value="{{item.backupJobId}}"/>
      <input type="hidden" id="job_s{{item.backupJobId}}" name="job_s{{item.backupJobId}}" value="{{item.status}}"/>
      <input type="hidden" id="job_status{{item.backupJobId}}" name="job_status{{item.backupJobId}}" value=""/>
      <li><span class="key">{% trans "Backup-State" %}: </span><span class="icon-backupstate-{{ item.status }}">{% trans item.status %}</span></li>
    </ul>
  </div>
  
  <div class="backup-details">
    <div class="bli-section">
      <span class="key">{% trans "Data-Source" %}</span>
      {% for source in item.datasources %}
        <ul class="value">
          <li>{{ source.title }}</li>
        </ul>
      {% endfor %}
    </div>
    <div class="bli-section">
      <span class="key">{% trans "Data-Target" %}</span>
      <ul class="value">
        <li>{{ item.datasink.title }}</li>
        {% if item.datasink.title == "ZIP" %}
          <li><a href="{% url zip-files %}">{% trans "ZIP Archives" %}</a></li>
        {% endif %}
      </ul>
    </div>
    {# # status is one of the following:  #}
    {# # * queued: after the job has been created. #}
    {# # * running: if the job is currently being executed. #}
    {# # * successful: if the last execution executed successfully. #}
    {# # * error: if the last execution failed. #}
    <div class="bli-section backupstate-{{ item.status }}">
      <span class="key">{% trans "Backup-State" %}</span>
      <ul class="value">
        <li><span class="backupstate-icon">{% trans item.status %}</span></li>
        {% if item.nextBackup %}
          <li>{% trans "next backup" %}: {{ item.nextBackup|date:"SHORT_DATETIME_FORMAT" }}</li>
        {% endif %}
        
        {% if item.lastSuccessful %}
          <li>{% trans "Last successful backup" %}: {{ item.lastSuccessful|date:"SHORT_DATETIME_FORMAT" }}</li>
        {% endif %}
	<li>{% trans "Interval" %}: {% trans item.timeExpression %}</li>
	{% if item.onHold %}
	<li>{% trans "Backup stopped?" %}: {% trans item.onHold %}</li>
	{% endif %}
      </ul>
    </div>
    <div class="bli-section-options">
      <ul>
        <li><a href="{% url job-edit job_id=item.backupJobId %}" class="edit-link">{% trans "Edit Backup" %}</a></li>
        <li>
          <a href="#delete-modal{{ item.backupJobId }}" class="delete-backup-handler" data-toggle="modal">{% trans "Delete Backup" %}</a>
          <div id="delete-modal{{ item.backupJobId }}" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h3>{% trans "Delete Backup" %}</h3>
            </div>
            <form action="." method="post">{% csrf_token %}
              <div class="modal-body">
                <p>{% trans "Do you really want to delete the selected Backup-Job?" %}</p>
                <p class="note">
                  {% trans "By deleting a Backup-Job no further Backups will be created. Backups that have already been created will however remain on the data-target and need to be deleted manually." %}
                </p>
                <input type="hidden" name="job_id" value="{{ item.backupJobId }}" id="job_id">
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "cancel" %}</button>
                <input type="submit" class="btn-delete" value="{% trans "Delete Backup" %}">
              </div>
            </form>
          </div>
        </li>
        <li class="log-item"><a href="{% url job-log job_id=item.backupJobId %}">{% trans "Backup-Log" %}</a></li>
      </ul>
    </div>
  </div>
</li>
