// ---------------------------------------------------------------------------
// SUSY

// Browser Support
$experimental-support-for-khtml:false;
$legacy-support-for-ie6 : false;
$relative-font-sizing : true;

// Variables
$base-font-size: 16px;
$base-line-height: 24px;
$body-font: Arial, Helvetica, sans-serif;

$bg-clr1: #5b80ab;
$bg-clr2: #e9eff4;

$bg-clr-note: #f5f5f5;
$border-clr-note: #e3e3e3;

$clr-text: #5c5c5c;
$clr-text2: white;
$clr-link: #3a6395;
$clr-headline: #333;
$clr-ok: #468847;

$clr-error: #ff1d25;
$clr-highlight: #ff931e;
$clr-grey-light: #ccc;

$clr-warning: #F89406;
$bg-clr-warning: #FCF8E3;
$border-clr-warning: #F89406;

$button-gradient: #ABC9EE #5b80ab;
$delete-button-gradient: #FF8386 #ff1d25;

// Icon-Font-Values
$icon-ok: '\f00c';
$icon-warning: '\f071';
$icon-error: '\f071';
$icon-info-sign: '\f05a';

$backupIconsPath: "/static/img/backup-icons-32x32.png";

$fontAwesomePath: "/static/fonts/fontawesome/fontawesome-webfont" !default;

// Grid
$show-grid-backgrounds: true;
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$side-gutter-width: 1em;



// ---------------------------------------------------------------------------
// COMPASS
$default-border-radius: 5px;


// ---------------------------------------------------------------------------
// Imports
@import "susy";
@import "compass";
//@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";

// ---------------------------------------------------------------------------
// Mixins
@mixin susy-grid-background {
  @include grid-background($total-columns, $column-width, $gutter-width, $base-line-height, $side-gutter-width, $force-fluid: true);
}
@mixin standard-button {
  color: white;
  display: inline-block;
  padding: .3em .9em;
  border: 0;
  cursor: pointer;
  border-radius:1em;
//  @include rhythm($leader: 0.25, $padding-leader: 0.25, $padding-trailer: 0.25, $trailer: 0.25, $font-size: $base-font-size);
}
/* --- Icon Mixins --- */
@mixin icon_before($icon){
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  margin-right: .5em;
  content:$icon;
}
@mixin icon_after($icon){
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  margin-left: .5em;
  content:$icon;
}
@mixin icon($icon){
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  content:$icon;
}
// use mixin "ir" instead of extending the class "ir" from inside media-queries
@mixin ir() { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

// ---------------------------------------------------------------------------
// Includes
@include establish-baseline;



// extend this class to show your grid.
.grid {
  @include susy-grid-background;
//  @include baseline-grid-background($base-rhythm-unit);
}

