label {
  display: block;
}
input[type="text"], input[type="password"] {
  @include single-transition(border, 0.2, linear, 0);
//  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  @include rhythm-borders($width: 1px, $lines: 0, $font-size: $base-font-size, $border-style: solid);
  background-color: white;
  border-color: #87888A;
  border-radius: 3px;
//  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
//  @include single-box-shadow(rgba(0, 0, 0, 0.75), 0, 1px, 1px,  inset)
}
input[type="text"]:focus, input[type="password"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}