form div {
  @include margin-trailer(1);
}
label {
  display: block;
}
input {
  &[type="text"], &[type="password"] {
//      @include single-transition(border, 0.2, linear, 0);
    //  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
      @include adjust-font-size-to(14px);
      @include rhythm-borders($width: 1px, $lines: 0, $font-size: 14px, $border-style: solid);
      padding: 0 3px;
      @include box-sizing(border-box);
      height: $base-line-height;
      display: block;
      background-color: white;
      border-color: #87888A;
      border-radius: 3px;
      min-width: 220px;
      max-width: 100%;
    
  }
}
input[type="text"]:focus, input[type="password"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}
input[type="checkbox"], input[type="radio"] {
  height: $base-line-height;
  float: left;
  margin-right: 0.5em;
}
.helptext {
  display: block;
  @include adjust-font-size-to(14px, 1, 16px);
}

// Form Feedback Styles
.errorlist,
.form-error {
  color: $clr-error;
}



.form-job-create {
  fieldset {
    @include margin-trailer(1);
    background: $bg-clr-note;
  }
  
}