html,
button,
input,
select,
textarea {
  font-family: $body-font;
  font-size: $base-font-size;
  color: $clr-text;
}
body {
  background: $bg-clr0;
}
h1,h2,h3,h4,h5,h6 {
  color: $clr-headline;
  font-weight: normal;
}
h1 {
  @include adjust-font-size-to(28px);
}
h2 {
  @include adjust-font-size-to(24px);
}
h3, .h3 {
  @include adjust-font-size-to(18px);
}
h4, h5, h6 {
  @include adjust-font-size-to($base-font-size);
}
.hgroup{
  h1{
    line-height: 1em;
  }
}
a {
  color: $clr-link;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul, ol {
  list-style: none outside;
}
ol {
  padding-left: 1em;
  list-style-type: decimal;
}
p, ul, ol {
  @include margin-trailer(1);
}
.nav ul {
  margin: 0;
}

.container {
  @include container;
//  background: #E9EFF4;
}

#logo {
  @include adjust-font-size-to(24px);
  color: white;
  text-decoration: none;
  float: left;
  @include replace-text("logo.png");
  width: 180px;
  height: 48px;
  margin-left: -6px;
}

// header
#header {
  background: $bg-clr1;
  @extend .clearfix;
  border-bottom: 1px solid #a0a0a0;
}
#content {
  background: white;
  border-bottom: 2px solid #888;
  border-top: 2px solid $bg-clr2;
  @extend .clearfix;
  @include padding-leader(1);
  @include padding-trailer(1);
}
#content .container,
.breadcrumbs .container {
//  @extend .grid;
}
// login-nav
.user-nav {
  float: right;
  text-align: right;
}
.user-nav {
  padding: 1em 0 .5em;
  > li{
    @include horizontal-list-item;
  }
}
// meta-nav
#meta-nav ul {
  @extend .clearfix;
}

// breadcrumbs
.breadcrumbs,
.sub-header,
#footer {
  @include padding-leader(.5);
  @include padding-trailer(.5);
  background: $bg-clr2;
}
#footer {
  background: $bg-clr0;
  border-top: 3px solid #a0a0a0;
  color: #fff;
  a {
    color: #fff;
  }
}
.breadcrumbs ul {
  @include horizontal-list;
}

// header search
#header-search-form {
  border-left: 1px solid $clr-text2;
  margin-left: .5em;
  padding-left: .5em;
  label {
    color: #fff;
    @include adjust-font-size-to(20px);
    line-height: 1em;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
    span {
      @include ir();
      float: left;
    }
  }
}
.header-search-wrap {
  margin: 0;
}
#header-search-field {
  float: left;
//  width: 100px;
//  @include transition-property(width);
//  @include transition-duration(1s);
}
#header-search-field:focus {
//  width: 140px;
}

// --- Backupstate-Icons
.backupstate-in-progress .backupstate-icon,
.icon-backupstate-in-progress{
  color: $clr-text;
  &:before{
    content: '';
    background: url(/static/img/loading.gif) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: .5em;
    position: relative;
    top: 3px;
  }
}
.backupstate-ok .backupstate-icon,
.icon-backupstate-ok{
  color: $clr-ok;
  &:before{
    @include icon_before($icon-ok);
  }
}
.backupstate-warning .backupstate-icon,
.icon-backupstate-warning{
  color: $clr-warning;
  &:before{
    @include icon_before($icon-warning);
  }
}
.backupstate-error .backupstate-icon,
.icon-backupstate-error{
  color: $clr-error;
  &:before{
    @include icon_before($icon-error);
  }
}
.icon-backupstate-in-progress:before,
.icon-backupstate-ok:before,
.icon-backupstate-warning:before,
.icon-backupstate-error:before{
  margin-left: .25em;
}
// --- Backupstate-Icons END

// --- Home START
//#teaser-nav{
//  li{
//    @include margin-trailer(1);
//    > a{
//      color: $clr-text;
//      text-decoration: none;
//      display: block;
//    }
//    > a:hover{
//      box-shadow: 0px 0px 10px #ccc;
//    }
//    h3{
//      padding: .5em;
//      background: $bg-clr1;
//      border: 1px solid $bg-clr1;
//      color: #fff;
//      border-radius: $default-border-radius $default-border-radius 0 0;
//      text-align: center;
//    }
//    .teaser-content{
//      padding: .5em;
//      border-radius: 0 0 $default-border-radius $default-border-radius;
//      border: 1px solid $clr-grey-light;
//    }
//  }
//  li.teaser-features{
//    h3:before{
//      @include icon_before('\f0d0');
//    }
//  }
//  li.teaser-get-involved{
//    h3:before{
//      @include icon_before('\f0c0');
//    }
//  }
//  li.teaser-get-started{
//    h3:before{
//      @include icon_before('\f0a4');
//    }
//  }
//  
//}
.footer-teaser {
  @include margin-trailer(1);
  a:after {
    @include icon_after('\f0da');
  }
  strong {
    text-transform: uppercase;
  }
}
// --- Home END

// --- Dashboard
.backup-list {
  @include margin-leader(1);
  > li{
    @include margin-leader(1);
  }
  > li:first-child{
    margin-top: 0;
  }
  .header{
    @extend .clearfix;
    background: $bg-clr1;
    border: 1px solid $bg-clr1;
    border-bottom-width: 0;
    border-radius: $default-border-radius $default-border-radius 0 0;
    padding: .5em;
    h3{
      float: left;
      color: $clr-text2;
      @include adjust-font-size-to($base-font-size);
      font-weight: normal;
    }
    .backup-details-handler{
      float: right;
      color: $clr-text2;
      text-decoration: none;
      &:after{
        @include icon_after('\f0d7');
      }
    }
    .backup-details-handler.open:after{
      content: '\f0d8';
    }
  }
  .backup-summary{
    padding: .5em;
    border: 1px solid $clr-grey-light;
    border-top-width: 0;
    border-radius: 0 0 $default-border-radius $default-border-radius;
    ul{
      margin-bottom: 0;
    }
  }
  .backup-details{
    display: none;
  }
  .bli-section{
    padding:.5em .5em;
    border: 1px solid $clr-grey-light;
    border-top-width: 0;
    ul.value{
      @include horizontal-list();
      li{
        &:before{
          content: '\2022';
          display: inline-block;
          margin-right: .5em;
        }
        &:first-child:before{
          content:"";
          display:none;
          margin-right:0;
        }
      }
    }
  }
  .bli-section-options{
    @extend .bli-section;
    border-radius: 0 0 $default-border-radius $default-border-radius;
    background: $bg-clr2;
    > ul{
        margin-bottom: 0;
    }
    .edit-link:after{
      @include icon_after('\f040');
    }
    .delete-backup-handler:after{
      @include icon_after('\f014');
    }
    .log-item{
      a:after{
        @include icon_after('\f0ae');
      }
    }
  }
  
  .key{
    font-weight: bold;
  }
  .delete-backup-overlay{
    display: none;
  }
  
}
// --- Dashboard END


// --- Backup-Log
.backup-log-list {
  > li {
    @include apply-side-rhythm-border(bottom, 1px, .5);
    @include margin-trailer(.5);
  }
  ul {
    margin: 0;
  }
}
// --- Backup-Log END

// --- Create New Backup
.add-backup-list{
  @include margin-leader(1);
  li{
    h3, .h3{
      border: 1px solid $clr-grey-light;
      border-bottom-width:0;
      border-top-width:0;
      padding: .5em;
      background: $bg-clr2;
    }
    &:first-child {
      h3, .h3 {
        border-radius: $default-border-radius $default-border-radius 0 0;
        border-top-width:1px;
      }
    }
    &:last-child .add-backup-content{
      border-radius: 0 0 $default-border-radius $default-border-radius;
    }
    .add-backup-content{
      border: 1px solid $clr-grey-light;
      border-top-width: 0;
      padding: .5em;
    }
  }
  li.active-backup-step{
    h3, .h3{
      background: $bg-clr1;
      border-color: $bg-clr1;
      color: $clr-text2;
    }
    h4{
      @include margin-trailer(1);
    }
  }
  li.finished-backup-step{
    h3{
      &:after{
        @include icon_after($icon-ok);
        color: $clr-ok;
      }
    }
    .add-backup-content {
      @include padding-trailer(1);
    }
  }
}
// --- Create New Backup END

.edit-backup-page .h3 {
  text-align: center;
}

// --- Backup-Job Log
.backup-summary-list{
  
  
}
// --- Backup-Job Log END