html,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
  color: $clr-text;
}
body {
  background: white;
}
h1,h2,h3,h4,h5,h6 {
  color: $clr-headline;
  font-weight: normal;
}
h1 {
  @include adjust-font-size-to(28px);
}
h2 {
  @include adjust-font-size-to(24px);
}
h3 {
  @include adjust-font-size-to(18px);
}
h4 {
  @include adjust-font-size-to($base-font-size);
}
.hgroup{
  h1{
    line-height: 1em;
  }
}
a {
  color: $clr-link;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul, ol {
  list-style: none outside;
}
//#content ul, {
//  padding-left: 1em;
//  list-style-type: circle;
//}
ol {
  padding-left: 1em;
  list-style-type: decimal;
}
p, ul, ol {
  @include margin-trailer(1);
}
.nav ul {
  margin: 0;
}

.container {
  @include container;
//  background: #E9EFF4;
}

#logo {
  @include adjust-font-size-to(24px);
  color: white;
  text-decoration: none;
  float: left;
  @include replace-text("BackMeUp_logo.png", 0, .5em);
  width:158px;
  height:2em;
}

// header
#header {
  background: $bg-clr1;
  @include clearfix;
}
#content {
  background: white;
  @include clearfix;
  @include padding-leader(1);
  @include padding-trailer(1);
}
#content .container,
.breadcrumbs .container {
//  @extend .grid;
}
// login-nav
#login-nav {
  float: right;
  text-align: right;
}
#login-nav ul {
  @include horizontal-list;
  @include padding-leader(.5);
  @include padding-trailer(.5);
}
#login-nav a {
  color: white;
  text-decoration: none;
}
// breadcrumbs
.breadcrumbs,
.sub-header,
#footer {
  @include padding-leader(.5);
  @include padding-trailer(.5);
  background: $bg-clr2;
}
.breadcrumbs ul {
  @include horizontal-list;
}

// meta-nav
#meta-nav ul{
  @include horizontal-list(8px);
}

// header search
#header-search-form {
  border-left: 1px solid $clr-text2;
  margin-left: .5em;
  padding-left: 1em;
}
#header-search-form label {
//  TODO: compare to standard hide-visual technique
  @include squish-text();
}
#header-search-field {
  float: left;
//  width: 100px;
//  @include transition-property(width);
//  @include transition-duration(1s);
}
#header-search-field:focus {
//  width: 140px;
}

// TO DO: figure out best practice for text-replacement and vertical rhythm and responsive layout
.copyright {
  float: left;
  color: #245E8C;
  padding-right: 16px;
//  width: 117px;
//  height: 1em;
//  display: inline-block;
//  @include replace-text('/static/img/backmeup-small.png', 0, 0);
}
//.copyright:before {
//  content: '';
//  background: url(/static/img/backmeup-icon.png);
//  display: inline-block;
//  width: 19px;
//  height: 16px;
//}


// --- Dashboard
.dashboard h1{
  display:inline;
}
.dashboard .btn-add {
  float:right;
  @include margin-leader(.25);
}
.backup-list {
  @include margin-leader(1);
  > li{
    @include margin-leader(1);
  }
  > li:first-child{
    margin-top: 0;
  }
  .header{
    @extend .clearfix;
    background: $bg-clr1;
    border: 1px solid $bg-clr1;
    border-bottom-width: 0;
    border-radius: $default-border-radius $default-border-radius 0 0;
    padding: .5em;
    h3{
      float: left;
      color: $clr-text2;
      @include adjust-font-size-to($base-font-size);
      font-weight: normal;
    }
    .backup-details-handler{
      float: right;
      color: $clr-text2;
      text-decoration: none;
      &:after{
        @include icon_after('\f0d7');
      }
    }
    .backup-details-handler.open:after{
      content: '\f0d8';
    }
  }
  .backup-summary{
    padding: .5em;
    border: 1px solid $clr-grey-light;
    border-top-width: 0;
    border-radius: 0 0 $default-border-radius $default-border-radius;
    ul{
      @include horizontal-list();
      li{
        &:before{
          content: '\2022';
          display: inline-block;
          margin-right: .5em;
        }
        &:first-child:before{
          content:"";
          display:none;
          margin-right:0;
        }
      }
    }
  }
  .backup-details{
    display: none;
  }
  .bli-section{
    padding:.5em .5em;
    border: 1px solid $clr-grey-light;
    border-top-width: 0;
//    &:last-child{
//      border-radius: 0 0 $default-border-radius $default-border-radius;
//    }
    ul.value{
      @include horizontal-list();
      li{
        &:before{
          content: '\2022';
          display: inline-block;
          margin-right: .5em;
        }
        &:first-child:before{
          content:"";
          display:none;
          margin-right:0;
        }
      }
    }
  }
  .bli-section-options{
    @extend .bli-section;
    border-radius: 0 0 $default-border-radius $default-border-radius;
    background: $bg-clr2;
    > ul{
      @include horizontal-list();
      li{
        &:before{
          content: '\2022';
          display: inline-block;
          margin-right: .5em;
        }
        &:first-child:before{
          content:"";
          display:none;
          margin-right:0;
        }
      }
    }
    .edit-link:after{
      @include icon_after('\f040');
    }
    .delete-backup-handler:after{
      @include icon_after('\f014');
    }
  }
  
  .key{
    font-weight: bold;
  }
  
  .backupstate-ok .backupstate-icon,
  .icon-backupstate-ok{
    color: $clr-ok;
    &:before{
      @include icon_before($icon-ok);
    }
  }
  .backupstate-warning .backupstate-icon,
  .icon-backupstate-warning{
    color: $clr-warning;
    &:before{
      @include icon_before($icon-warning);
    }
  }
  .backupstate-error .backupstate-icon,
  .icon-backupstate-error{
    color: $clr-error;
    &:before{
      @include icon_before($icon-error);
    }
  }
  .icon-backupstate-ok:before,
  .icon-backupstate-warning:before,
  .icon-backupstate-error:before{
    margin-left: .25em;
  }
  .delete-backup-overlay{
    display: none;
  }
  
}
// --- Dashboard END


// --- New Backup
.add-backup-list{
  @include margin-leader(1);
  li{
    h3{
//      @include adjust-font-size-to($base-font-size);
      border: 1px solid $clr-grey-light;
      border-bottom-width:0;
      border-top-width:0;
      padding: .5em;
      background: $bg-clr2;
    }
    &:first-child h3{
      border-radius: $default-border-radius $default-border-radius 0 0;
      border-top-width:1px;
    }
    &:last-child .add-backup-content{
      border-radius: 0 0 $default-border-radius $default-border-radius;
    }
    .add-backup-content{
      border: 1px solid $clr-grey-light;
      border-top-width: 0;
      padding: .5em;
    }
    h4{
      font-weight: normal;
      @include margin-trailer(1);
    }
  }
  li.active-backup-step{
    h3{
      background: $bg-clr1;
      border-color: $bg-clr1;
      color: $clr-text2;
    }
  }
  li.finished-backup-step{
    h3{
//      color: $clr-ok;
      &:after{
        @include icon_after($icon-ok);
      }
    }
  }
}
