.sr-filter-handler {
  @extend .btn;
  display: block;
  &:after {
    @include icon_after('\f0d7');
  }  
}
.sr-filter-container {
  display: none;
}
.sr-list {
  @include margin-leader(1);
  > li {
    @extend .clearfix;
    @include margin-trailer(1);
    @include box-sizing('border-box');
    border: 1px solid $border-clr-search-item;
  }
  p {
    margin: 0;
  }
}
a.search-item-link {
  display: block;
  text-decoration: none;
  color: $clr-text;
  &:hover {
    background: $bg-clr2;
    .search-item-header {
      background: $bg-clr1;
      h4 {
        color: #fff;
      }
    }
    .search-item-footer {
      background: $bg-clr1;
      color: #fff;
    }
  }
}
.search-item-header {
  background: $bg-clr2;
  border-color: $border-clr-search-item;
  padding: 0 .375em;
  @include rhythm(0, .125, .125, .5);
  @include apply-side-rhythm-border(bottom, 1px, .125);
}
.search-item-content {
  @extend .clearfix;
  height: 96px;
  max-height: 96px;
  overflow: hidden;
  padding: 0 .375em;
}
.search-item-thumb {
  float: left;
  margin-right: 1em;
  img {
    display: block;
  }
}
.search-item-footer {
  background: $bg-clr-body;
  border-color: $border-clr-search-item;
  clear: both;
  padding: 0 .375em;
  @include rhythm(.5, .125, .125, 0);
  @include apply-side-rhythm-border(top, 1px, .125);
  .file-type {
    float: right;
    padding: 0 3px;
    background: $bg-clr1;
    color: #fff;
  }
}